<div class="landing-bg container">
  <div class="row">
    <div class="col">
      <h1 class="display-1 text-center mb-3 mt-5">
        <i class="fab fa-connectdevelop"></i>Welcome
      </h1>
      <h3 class="text-center lead">
        <strong>Find</strong>, <strong>Share </strong>and
        <strong>Connect</strong>
      </h3>
      <h6 class="text-center lead">with developers</h6>
      <h1 class="text-center display-4">all around the world!</h1>

      <div class="d-flex justify-content-center mt-3">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/register']"
        >
          Create an account
        </button>
      </div>
    </div>
  </div>
</div>
