<div class="register-bg container">
  <div class="row">
    <div class="col">
      <div class="card register-card shadow">
        <div class="card-header bg-primary text-white">
          <h3 class="display-4">
            <i class="far fa-hand-peace"></i>
            Register
          </h3>
        </div>
        <div class="card-body">
          <form #registerForm="ngForm" (ngSubmit)="addUser(template)">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                [(ngModel)]="email"
                value=""
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>

            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="email"
                class="form-control"
                id="username"
                name="username"
                aria-describedby="userlHelp"
                placeholder="Enter User Name"
                [(ngModel)]="username"
                value=""
              />
              <small id="emailHelp" class="form-text text-muted"
                >Username must be unique</small
              >
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                aria-describedby="passwordHelp"
                [(ngModel)]="password"
                value=""
              />
            </div>

            <div class="form-group">
              <label for="password">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Confirm Password"
                aria-describedby="password2Help"
                [(ngModel)]="password2"
                value=""
              />
            </div>

            <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <!-- <button
            type="button"
            class="btn btn-primary"
            (click)="openModal(template)"
          >
            Create template modal
          </button> -->

        <!-- Implement disabled fields if there's no input -->

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="modalRef.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is a modal.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
