<footer class="page-footer font-small indigo bg-primary">
  <div class="container text-center text-white text-md-left">
    <div class="row">
      <hr class="clearfix w-100 d-md-none" />

      <div class="col-md-3 mx-auto">
        <h5 class="mt-3 mb-4">Links</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a class="text-white" href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none" />

      <div class="col-md-3 mx-auto">
        <h5 class="mt-3 mb-4">Links</h5>

        <ul class="list-unstyled text-white">
          <li>
            <a class="text-white" href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
</footer>
