<nav class="navbar navbar-primary bg-primary navbar-expand-lg">
  <a class="navbar-brand text-white" [routerLink]="['/']"
    ><i class="far fa-file-code"></i> DevTracker</a
  >

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-white" [routerLink]="['/login']">Login</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link text-white" [routerLink]="['/register']">Register</a>
      </li>
    </ul>
  </div>

  <div
    class="btn-group"
    (onShown)="showingDrop()"
    (onHidden)="closingDrop()"
    dropdown
  >
    <button
      id="button-basic"
      dropdownToggle
      type="button"
      class="btn btn-danger dropdown-toggle"
      aria-controls="dropdown-basic"
    >
      My Account <span class="caret"></span>
    </button>
    <ul
      id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu"
      aria-labelledby="button-basic"
    >
      <li role="menuitem" routerLinkActive="active">
        <a class="dropdown-item" [routerLink]="['/login']">Login</a>
      </li>
      <li role="menuitem" routerLinkActive="active">
        <a class="dropdown-item" [routerLink]="['/register']">Sign Up</a>
      </li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <button type="button" class="btn btn-info" (click)="openModal(template)">
  Create template modal
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template> -->
